.productCardCardContent {
  background-color: lightgray;
  cursor: pointer;
  transition: all 100ms ease-in-out;

  &:hover {
     background-image: linear-gradient(lightblue, lightgray);
     scale: 105%;
   }
}